<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/about">About</a></li>
  <li><a href="/contact">Contact</a></li>

  <li><a href="/product/123456">Radio</a></li>
  <li><a href="/product/565656">TV</a></li>
  <li><a href="/product/84848">Shirt</a></li>
  <li><a href="/product/515151">Shoe</a></li>
</ul>