
<div class="card shadow-md mt-5">
  <div class="card-body">
    
  <form action="/notes" method="POST" class="mt-5">
  <div class="form-group">
    <input type="text" name="note" placeholder="Enter a text Note" class="form-control">

  </div>
   <button type="submit" class="btn btn-primary">ADD</button>
     
  </form>

  </div>

</div>
